<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Category</title>
</head>

<body>
    <h2>
        Manage Service Categories
    </h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>

            <td>
                {% if category.is_active %}
                Active
                {% else %}
                Inactive
                {% endif %}
            </td>

            <td>
                <a href="{% url 'manage_service:toggle_category_status' category.id %}">
                    {% if category.is_active %}
                    Deactivate
                    {% else %}
                    Activate
                    {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>