<nav class="sticky top-0 z-50 bg-white/95 backdrop-blur-sm border-b border-gray-100 shadow-sm">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

        <a href="{% url 'manage_service:customer_home' %}" class="flex items-center gap-2">
            <div class="w-8 h-8 bg-brand-action rounded-lg flex items-center justify-center text-white">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <span class="text-2xl font-extrabold text-brand-dark tracking-tight">Fixora</span>
        </a>

        <div class="hidden md:flex items-center gap-8">
            <a href="{% url 'manage_service:customer_home' %}" class="text-brand-action font-bold text-sm">
                Home
            </a>

            <a href="{% url 'manage_service:service_view' %}"
                class="text-gray-500 hover:text-brand-dark font-bold text-sm transition-colors">
                Services
            </a>

            <a href="{% url 'manage_service:my_bookings' %}"
                class="text-gray-500 hover:text-brand-dark font-bold text-sm transition-colors">
                My Bookings
            </a>
        </div>
        <div class="mt-4">
            <button onclick="getLocation()"
                class="bg-brand-action text-white px-6 py-3 rounded-xl font-bold text-sm tap-effect">
                <i class="fa-solid fa-location-dot mr-2"></i>
                Share My Location
            </button>
        </div>

        <div class="flex items-center gap-4">

            <!-- User Display (No profile link) -->
            <div class="flex items-center gap-3 pl-2 pr-4 py-1 rounded-full border bg-white">

                {% if request.user.profile.profile_picture %}
                <img src="{{ request.user.profile.profile_picture.url }}"
                    class="w-8 h-8 rounded-full object-cover border">
                {% else %}
                <img src="/media/profile_image/default.jpg" class="w-8 h-8 rounded-full object-cover border">
                {% endif %}

                <div class="hidden sm:flex flex-col">
                    <span class="text-[10px] text-gray-400 font-semibold uppercase">Hello</span>
                    <span class="text-xs font-bold text-brand-dark">
                        {{ request.user.username }}
                    </span>
                </div>
            </div>

            <a href="{% url 'logout' %}"
                class="bg-gray-900 hover:bg-black text-white text-sm font-semibold px-4 py-2 rounded-md flex items-center gap-2 transition">
                <i class="fa-solid fa-arrow-right-from-bracket text-xs"></i>
                Logout
            </a>

        </div>
    </div>
</nav>